Repository audit-brands/AssurKit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @audit-brands/assurkit-maintainers, @audit-brands/frontend, @audit-brands/backend, @audit-brands/devops, @audit-brands/documentation

.github/CODEOWNERS:

# Code Owners for AssurKit
# These owners will be requested for review when someone opens a pull request

# Global owners
* @audit-brands/assurkit-maintainers

# Frontend
/frontend/ @audit-brands/frontend

# Backend
/api/ @audit-brands/backend

# Infrastructure
/infra/ @audit-brands/devops
/.github/ @audit-brands/devops

# Documentation
/docs/ @audit-brands/documentation
*.md @audit-brands/documentation

fix: Update GitHub Actions to use latest versions
  .github/workflows/docker-build.yml
  .github/workflows/pr-backend.yml
  .github/workflows/pr-frontend.yml
Owners: @audit-brands/devops

fix: Update SPDX license identifier in composer.json
  api/composer.json
Owners: @audit-brands/backend

fix: Use lowercase Docker repository names
  .github/workflows/docker-build.yml
Owners: @audit-brands/devops

fix: Resolve Composer dependency conflicts
  api/composer.json
Owners: @audit-brands/backend

fix: Resolve frontend build issues
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/index.css
Owners: @audit-brands/frontend

fix: Remove conflicting PHP CS Fixer rule
  api/.php-cs-fixer.php
Owners: @audit-brands/backend

fix: Apply PHP CS Fixer code style corrections
  api/.php-cs-fixer.php
  api/public/index.php
Owners: @audit-brands/backend

fix: Add missing newlines at end of PHP files
  api/public/index.php
  api/tests/Pest.php
  api/tests/Unit/ExampleTest.php
Owners: @audit-brands/backend

fix: Create missing src directory for Psalm
  api/src/.gitkeep
Owners: @audit-brands/backend

fix: Remove PHPUnit plugin from Psalm configuration
  api/psalm.xml
Owners: @audit-brands/backend

fix: Create missing Feature test directory for Pest
  api/tests/Feature/.gitkeep
  api/tests/Feature/ExampleFeatureTest.php
Owners: @audit-brands/backend

fix: Add missing newline to ExampleFeatureTest.php
  api/tests/Feature/ExampleFeatureTest.php
Owners: @audit-brands/backend

feat: Add database foundation with migrations and auth models
  api/composer.json
  api/migrate.php
  api/public/index.php
  api/seed.php
  api/src/Database/Connection.php
  api/src/Database/Migration.php
  api/src/Database/MigrationRunner.php
  api/src/Database/Migrations/001_CreateUsersTable.php
  api/src/Database/Migrations/002_CreateRolesTable.php
  api/src/Database/Migrations/003_CreateUserRolesTable.php
  api/src/Database/Seeder.php
  api/src/Models/Model.php
  api/src/Models/Role.php
  api/src/Models/User.php
Owners: @audit-brands/backend

feat: Add Docker entrypoint script for automatic migrations
  api/Dockerfile
  api/docker-entrypoint.sh
Owners: @audit-brands/backend

docs: Add comprehensive setup and database management instructions
  README.md
  api/.env.example
Owners: @audit-brands/documentation, @audit-brands/backend

fix: Apply PHP CS Fixer corrections for code style
  api/migrate.php
  api/seed.php
  api/src/Database/Connection.php
  api/src/Database/Migration.php
  api/src/Database/MigrationRunner.php
  api/src/Database/Migrations/001_CreateUsersTable.php
  api/src/Database/Migrations/002_CreateRolesTable.php
  api/src/Database/Migrations/003_CreateUserRolesTable.php
  api/src/Database/Seeder.php
  api/src/Models/Model.php
  api/src/Models/Role.php
  api/src/Models/User.php
Owners: @audit-brands/backend

fix: Replace Laravel now() helper with standard PHP date()
  api/src/Database/MigrationRunner.php
Owners: @audit-brands/backend
